
body{
	background-color:#f2f2f2;
	padding:0px 100px 100px;

}
.header{
	padding: 10px 10px 0px;
	margin:5px 0px 100px;
}
.logo{
	float:left;
	height: 90;
	width: auto;
}
.headercont{
	text-align:center;
	float:center;
	height: auto;
	width: auto;
	margin: 40px 0px 0px;
}
.page{
	background-color: #b2d4d3;
	margin:0px 0px 0px;
	padding:0px 50px 50px; 

}



.navigation {
    list-style-type: none;
    margin: 20px -60px 0px;
    padding: 10px 10px 10px;
	background-color: #008280;
	text-align:center;
	opacity:0.8;
} 

.navigation li {
	display: inline;
}

.navigation li a{
	color: #b2d4d3;
	font-size: 120%;
	text-transform: uppercase;
	text-decoration: none;
	margin-left:60px;
	margin-right:60px;
}
.navigation li a:hover{
	color: #ffffff;
}
.about{
	text-indent: 15px;
	text-size: 110%;
	color: #121212;
	margin:20px;
}
.content{
	background-color: #ffffff;
	opacity: 0.8;
	margin: 20px -60px auto;
    padding: 10px;
}

.content img{
	float:left;
	height: 200px;
	width: auto;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right:20px;
	margin-top:40px;
}
.content p{
	color:#1e1e1e;
	text-indent:20px;
	float: center;
	padding: 10px;
	margin: 10px;
	font-size: 95%;
}
.content h2{
	text-transform: uppercase;
	text-align:center;

}
.catagories ul{
	list-style-type:none;
}
.catagories ul li{
	float:left;
	height: auto;
	margin: 10px;
	padding: 20px;
    border-right: 1px solid black;
	border-left:1px solid black;
	}
.clearfix {
  clear: both;
}


.recentposts{
	list-style-type:none;
	
}
.recentposts li p1{
	text-decoration:none;
	color: #272727;
	text-transform:uppercase;
	font-weight: bold;
}
.recentposts  a{
	color:#272727;
}
.recentposts li{
	float:left;
	width: 31%;
	margin: 10px;
	max-height:110px;
	overflow:hidden;
}
.recentposts li img{
	float:left;
	margin:10px;
}
.recentposts li p{
	word-wrap: break-word;
	text-indent:15px;
	float:center;
	margin:10px;
	font-size: 90%;
	/*text-align:justify;*/
/*	text-overflow: ellipsis;*/
}
#ex5 li{
	background-color:rgba(255,255,255,0.4);
	margin-left:5px;
	margin-bottom:5px;
}
#ex5 li:hover { opacity: 1; /*Reflection*/ -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4))); /*Glow*/ -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); box-shadow: 0px 0px 20px rgba(255,255,255,0.8); } 
